# temporary files
*~

# swap temporary files
*.swp

# Dolphin file manager files
.directory

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db

# GeN-Foam compilation files
GeN-Foam/Make/**
GeN-Foam/*log*

# Qt creator files
GeN-Foam/*.config
GeN-Foam/*.creator*
GeN-Foam/*.files
GeN-Foam/*.includes

# Sublime Text 3 files
GeN-Foam/*.sublime*

# VSCode setup folder
.vscode

# All compilation files
**/linux64*
**/lnInclude*
*.o
*.dep
**/__pycache__
*.egg
*.egg-info
tools/openmcToFoam/**/*.txt
tools/openmcToFoam/**/PKG-INFO

# Doxygen files
documentation/doxygen/Doxygen/html/**
documentation/mkdocs/docs/classes
documentation/**/generated
documentation/**/usersguide/tutorials
documentation/**/_build
public

# Python API
pythonapi/build

# FMU installation
thirdParty/FMU4FOAM

# Tutorials
tutorials/featureCases/1D_boiling/*[123456789]*
tutorials/featureCases/1D_CHF/imposedPower/*[123456789]*
tutorials/featureCases/1D_CHF/imposedTemperature/*[123456789]*
tutorials/featureCases/1D_HX/onePhase/*[123456789]*
tutorials/featureCases/1D_HX/twoPhase/*[123456789]*
tutorials/featureCases/1D_PSBT_SC/Phase_Ex1_12223/*[123456789]*
tutorials/featureCases/1D_PSBT_SC/PhaseII_Ex1_01_5215/*[123456789]*
tutorials/featureCases/1D_PSBT_SC/PhaseII_Ex2_04_6770/*[123456789]*
tutorials/featureCases/1D_PSBT_SC/PhaseII_Ex3_11-0312_power_increase/*[123456789]*
tutorials/featureCases/2D_cavityBoussinesq/*[123456789]*
tutorials/featureCases/2D_flowOverHeatedPlate/*[123456789]*
tutorials/featureCases/2D_KNS37-L22/*[123456789]*
!tutorials/featureCases/2D_KNS37-L22/-2
tutorials/featureCases/2D_voidMotionNoPhaseChange/*[123456789]*
tutorials/guidedCases/1_reactorSlab_1D_1Gr_neutronicDiffusion/[01]
tutorials/guidedCases/2_reactorSlabReflected_1D_1Gr_neutronicDiffusion/[01]
tutorials/reactorCases/Godiva_SN/*[123456789]*
tutorials/fmuCases/powerTemperatureMomentumControl/*[123456789]*
tutorials/*/**/0.converged*
tutorials/**/postProcessing*
tutorials/**/processor*
tutorials/**/steadyState*
tutorials/**/transient*
tutorials/**/GeN-Foam.dat
tutorials/**/*.baffleLess/polyMesh
**/log.*
**/*.out
!**/2D_*
!**/*Ex1*
!**/*Ex2*
!**/*Ex3*
!**/defaultFlux2
!**/2FMU
!**/3FMU
!**/quadratureSet*
!tutorials/*/**/XS*
**/old.*
**/archive.*
**/*.csv*
**/*.foam

pythonapi/tutorials/fmuCases/3D_*

# Tools
tools/**/build
