# temporary files
*~

# swap temporary files
*.swp

# Dolphin file manager files
.directory

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db

# GeN-Foam compilation files
GeN-Foam/Make/**
GeN-Foam/*log*

# Qt creator files
GeN-Foam/*.config
GeN-Foam/*.creator*
GeN-Foam/*.files
GeN-Foam/*.includes

# Sublime Text 3 files
GeN-Foam/*.sublime*

# VSCode setup folder
.vscode

# All compilation files
**/linux64*
**/lnInclude*
*.o
*.dep
**/__pycache__

# Doxygen files
Documentation/doxygen/Doxygen/html/**

# FMU installation
src/FMU4FOAM

# Tutorials
Tutorials/*/**/*1*
Tutorials/*/**/*2*
Tutorials/*/**/*3*
Tutorials/*/**/*4*
Tutorials/*/**/*5*
Tutorials/*/**/*6*
Tutorials/*/**/*7*
Tutorials/*/**/*8*
Tutorials/*/**/*9*
Tutorials/**/postProcessing*
Tutorials/**/processor*
Tutorials/**/steadyState*
Tutorials/**/transient*
Tutorials/**/GeN-Foam.dat
Tutorials/**/log.*
Tutorials/**/*.out
Tutorials/**/*.baffleLess/polyMesh
!**/2D_*
!**/*Ex1*
!**/*Ex2*
!**/*Ex3*
!**/defaultFlux2
!Tutorials/*/**/XS*
**/old.*
**/archive.*
**/*.csv*
**/*.foam

# Tools
Tools/**/build
