#titlearea
{
    background-color: rgb(243, 243, 243);
    height: 84px;
    padding-top: 8px;
}

#projectlogo
{
    padding-left: 15px;
    padding-right: 10px;
}

#titlearea, #projectname, #projectbrief, #projectnumber
{
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
}

#projectname
{
    font-size: 220%;
}

#projectname a
{
    color: rgba(0, 0, 0, 0.75);
}

#projectname a:hover, #projectbrief a:hover
{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

#projectbrief
{
    font-size: 130%;
}

#projectbrief a
{
    color: rgba(0, 0, 0, 0.65);
}

#projectnumber a
{
    font-size: 160%;
}

.border-box {
    padding: 0.1em;
    margin-left: 4em;
    margin-right: 8em;
    border: 1px solid gray;
    background-color:#f2f3fa;
    color:#05134a;
}

.groupHeader table {
    border-collapse: collapse;
}

.groupHeader th, .groupHeader td {
    border: 1px solid #000;
    padding: 0.25rem;
}

.groupHeader th {
    background-color: #f2f2f2;
}
